@import "tailwindcss";
@import "./variables.css";
@import "./vendors/index.css";
@import "./components.css";
@import "./_buttons.css";
@import "./_profile.css";

html,
body {

  scrollbar-width: thin;
  scrollbar-color: rgba(var(--blue), 0.3) transparent;


  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(var(--blue), 0.3);
    border-radius: 10px;

    &:hover {
      background: rgba(var(--blue), 0.5);
    }
  }
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-default {
  background-image: url("@/assets/images/backgrounds/bg-default.png");
  background-size: cover;
}

.bg-home {
  background-image: url("@/assets/images/backgrounds/bg-home.png");
  background-size: cover;
}

.bg-green {
  background-image: url("@/assets/images/backgrounds/bg-green.png");
  background-size: cover;
}

.bg-login {
  background-image: url("@/assets/images/backgrounds/bg-login.png");
  background-size: cover;
}

.card-withe-transparent {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  border: 1px solid var(--blue);
  position: relative;
}


.btn {
  @apply inline-flex items-center justify-center gap-2 text-xl text-center rounded-xl px-4 py-2 text-white font-medium disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer;
}

.btn-full {
  @apply w-full;
}

.btn-orange {
  background-image: linear-gradient(to bottom, var(--orange-light), var(--orange));
  border: 3px solid white;
}

.btn-blue {
  background-color: #25b5d0;
  background-image: linear-gradient(#2ac1d6, #25b5d0);
  text-shadow: 1px 1px 1px rgba(16, 8, 6, 0.2);
  border: 3px solid var(--yellow);
}

.btn-gray {
  background-color: var(--gray);
  background-image: linear-gradient(var(--gray-light), var(--gray));
  text-shadow: 1px 1px 1px rgba(16, 8, 6, 0.2);
  border: 3px solid white;
}

.btn-red {
  background-color: var(--red);
  background-image: linear-gradient(var(--red-light), var(--red));
  text-shadow: 1px 1px 1px rgba(16, 8, 6, 0.2);
  border: 3px solid white;
}

.btn-outline-red {
  background-color: white;
  border: 3px solid var(--red);
  color: var(--red);
}

.text-blue {
  color: var(--blue);
}

/* Ribbon - structure from reference, colors from yellow button (btn-rustico-amarillo) */
.ribbon {
  font-size: 23px !important;
  width: 50%;
  font-weight: 700;
  position: relative;
  background: linear-gradient(90deg, #f7c43a 0%, #f0b429 50%, #d89d1c 100%);
  color: #4d3200;
  text-align: center;
  padding: 10px 40px;
  width: auto;
  margin-bottom: 20px;
}

.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #8b5a00;
  z-index: -1;
}

.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}

.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}

.ribbon .content:before,
.ribbon .content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #6b4500 transparent transparent transparent;
  bottom: -1em;
}

.ribbon .content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}

.ribbon .content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}