:root {
  --blue: #0367A6;
  --dark-blue: #003366;
  --green: #6b9b52;
  --orange: #ff8600;
  --orange-light: #ffbd01;
  --yellow: #f4cd15;
  --cyan: #2ac1d6;
  --gray: #999;
  --gray-light: #ccc;
  --red: #ff0000;
  --red-light: #ff4d4d;
  --brown: #7a2d00;
}